[submodule "engine"]
	path = engine
	url = git://github.com/mapic/engine.git
[submodule "mile"]
	path = mile
	url = git://github.com/mapic/mile.git
[submodule "mapic.js"]
	path = mapic.js
	url = git://github.com/mapic/mapic.js.git
